bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/obj/

.vs
/src/UserService.Api/appsettings.Development.json
/src/UserService.Api/appsettings.json
/src/UserService.AppHost/appsettings.json
